/* Overlay nền mờ khi mở dialog */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Hộp thoại chính */
.modal-content {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    min-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.54);
    padding: 30px;

    & button {
        padding: 8px 16px;
        border: none;
        margin-left: 16px;
        border-radius: 4px;
        min-width: 100px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
    }

    & .cancel {
        background-color: #000;
        color: white;
    }

    & .remove {
        background-color: red;
        color: white;
    }
}

.title {
    font-size: 2rem;
    color: var(--shop-color-text);
}

.modal-form {
    max-height: 450px;
    overflow-y: auto; /* Thanh cuộn theo chiều dọc */
    // overflow-x: auto;
}

.required {
    color: red;
}

.billing-details input,
.additional-information input,
select {
    height: 45px;
}

.country,
.street,
.district,
.detail-address,
.phone-number,
.order-notes {
    margin-top: 5px;
}

.country,
.street,
.district {
    & .select-placeholder {
        font-size: 1.3rem;
        font-weight: 500;
    }

    & .option {
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.firstName label,
.ln label,
.email label,
.company label,
.country label,
.street label,
.district label,
.detail-address label,
.phone-number label,
.type-address label {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #565a61;
}

.firstName,
.detail-address,
.phone-number,
.type-address {
    & input {
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.error-message {
    font-size: 14px;
    color: var(--primary);
    margin-top: 4px;
    margin-bottom: 4px;
}

// .submit-btn {
//     border-radius: 4px;
//     width: 100%;
//     font-weight: bold;

//     &.disabled {
//         color: rgba(22, 24, 35, 0.34);
//         background-color: rgba(22, 24, 35, 0.06); /* Màu chữ khi nút bị vô hiệu hóa */
//         cursor: not-allowed; /* Thay đổi con trỏ chuột thành "không cho phép" */
//         border: 1px solid transparent;
//         pointer-events: none;
//     }
// }

.type-address {
    display: flex;
    flex-direction: column;

    & .address-optional {
        margin-left: 0;
        margin-right: 8px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        cursor: pointer;
        // pointer-events: none;

        &.active {
            border: 1px solid var(--primary);
            color: var(--primary);
        }
    }
}

.set-default-address {
    margin-top: 16px;
}

.custom-checkbox {
    & > input {
        width: 18px;
        height: 18px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 8px;

        &:focus {
            border-color: var(--primary);
            box-shadow: none;
        }

        &:checked {
            background-color: var(--primary);
            border-color: var(--primary);
        }
    }
}

.modal-action {
    display: flex;
    justify-content: end;
    padding: 8px 0px;
    margin-top: 14px;
}
