.wrapper-swiper {
    margin: 12px 8px 32px;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    will-change: transform, opacity;
}

.swiper-slide {
    text-align: center;
    font-size: 1.8rem;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain; // Tránh méo ảnh nếu tỷ lệ không khớp
    }
}

.gallery-slider {
    height: 80%;
    width: 100%;

    .swiper-button-next,
    .swiper-button-prev {
        color: var(--shop-color-text);
        text-rendering: auto;
        -webkit-user-select: none;
        user-select: none;

        &::after {
            font-size: 2.4rem;
            font-weight: 800;
        }

        &.swiper-button-disabled {
            visibility: hidden; // Thay vì display: none để tránh layout shift
        }
    }
}

.gallery-thumb {
    height: 20%;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;

    .swiper-slide {
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out;
        cursor: pointer;

        img {
            border: 1px solid #e7e7e7;
            transition: border 0.3s ease-in-out;
        }
    }

    .active-thumb {
        opacity: 1;
        border: 2px solid var(--primary); // 🔥 Màu viền nổi bật hơn
        // transform: scale(1.05); // Hiệu ứng zoom nhẹ để nhấn mạnh ảnh đang chọn
    }
}
