.modal-title {
    font-size: 1.6rem !important;
    font-weight: 600 !important;
}

.select-field {
    font-size: 1.3rem !important;
    font-weight: 500 !important;
}

.update-btn {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
}
