.modal-title {
    font-size: 1.6rem !important;
}

.search-field,
.input-field {
    font-size: 1.3rem !important;
    margin-bottom: 8px;
}

.label {
    font-weight: 600;
    font-size: 1.4rem !important;
}

.action-btn {
    font-size: 1.3rem !important;
    font-weight: bold !important;
    padding: 4px 16px !important;
    margin-right: 8px !important;
}
