.main-content {
    background-color: #ffffff;
    padding: 16px !important;
    margin-top: 32px;
    margin-bottom: 32px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
}

.main {
    margin-top: 10px;
    margin-bottom: 25px;
}

.header-title {
    font-size: 3.2rem;
    color: #333;
    font-weight: bold;
}

.main-content h3 {
    font-size: 20px;
    font-weight: 700;
}

.required {
    color: red;
}

.main-content input {
    width: 100%;
}

.billing-order {
    display: flex;
}

.name {
    display: flex;
}

.billing-details input,
.additional-information input,
select {
    height: 45px;
}

.email,
.company,
.country,
.street,
.district,
.street-address,
.phone-number,
.order-notes {
    margin-top: 5px;
}

.country,
.street,
.district {
    & .select-placeholder {
        font-size: 1.3rem;
        font-weight: 500;
    }

    & .option {
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.fn label,
.ln label,
.email label,
.company label,
.country label,
.street label,
.district label,
.street-address label,
.phone-number label,
.order-notes {
    margin-top: 10px;
    font-size: 13.5px;
    font-weight: 700;
    color: #565a61;
}
.fn,
.street-address,
.phone-number,
.order-notes {
    & input {
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.additional-information {
    margin-top: 30px;
}

.order-payment {
    height: fit-content;
    border: 1px solid #dddddd;
}

.inside-order-payment {
    margin: 15px;
}

.your-order {
    max-width: 100%;
    margin-left: 20px;
}

.your-order-table th,
.your-order-table td {
    color: #565a61;
    padding: 16px 0 !important;
}

.order-container h4 {
    font-family: 'Times New Roman', Times, serif;
}

.imgName {
    display: flex;
}

.category {
    margin-top: 10px;
    padding-top: 10px;
}

.category label {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.imgName img {
    width: 50px;
    height: auto;
}

.imgName span {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #565a61;
}

.main-content label .imgName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content label:nth-child(2),
label:nth-child(3) {
    margin: 15px 0;
}

.payment-on-delivery img {
    width: 55px;
}

.visa img {
    width: 55px;
}

.mastercard img {
    width: 55px;
}

.local-bank img {
    width: 55px;
    height: 40px;
}

.check {
    display: none;
}

.order-container input {
    display: none;
}

.order-container input:checked.visa-check ~ .category .visaMethod,
.order-container input:checked.mastercard-check ~ .category .mastercardMethod,
.order-container input:checked.local-check ~ .category .local-bankMethod,
.order-container input:checked.payment-on-delivery-check ~ .category .payment-on-deliveryMethod {
    box-shadow: 0px 0px 0px 1px #6064b6;
}

.order-container input:checked.visa-check ~ .category .visaMethod .check,
.order-container input:checked.mastercard-check ~ .category .mastercardMethod .check,
.order-container input:checked.local-check ~ .category .local-bankMethod .check,
.order-container input:checked.payment-on-delivery-check ~ .category .payment-on-deliveryMethod .check {
    display: block;
}

.order {
    margin-top: 10px;
}

.submit-btn {
    border-radius: 4px;
    width: 100%;
    font-weight: bold;

    &.disabled {
        color: rgba(22, 24, 35, 0.34);
        background-color: rgba(22, 24, 35, 0.06); /* Màu chữ khi nút bị vô hiệu hóa */
        cursor: not-allowed; /* Thay đổi con trỏ chuột thành "không cho phép" */
        border: 1px solid transparent;
        pointer-events: none;
    }
}

.error-message {
    font-size: 14px;
    color: #ed553b;
    margin-top: 4px;
    margin-bottom: 4px;
}

.cart_item {
    margin-top: 8px;
    margin-bottom: 8px;

    & .product {
        padding-bottom: 16.5px !important;
    }
}

.product {
    display: flex;
    align-items: center;
}

.product-thumbnail {
    width: 6.4rem;
    height: 6.4rem;
    background: #fff;
    position: relative;

    & .product-img {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    & .product-img-quantity {
        font-size: 1.2rem;
        font-weight: 500;
        white-space: nowrap;
        padding: 0.15em 0.65em;
        background-color: rgba(153, 153, 153, 0.9);
        color: #fff;
        position: absolute;
        right: -0.75em;
        top: -0.75em;
        z-index: 2;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 8px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    }
}

.product-desc {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.product-name {
    font-weight: 500;
    color: #4b4b4b;
    font-size: 1.4rem;
}

.product-variant {
    font-weight: 500;
    color: #969696;
    font-size: 1.2rem;
}
