.wrapper {
    width: 100%;
    background-color: var(--white);
    box-shadow: 8px 8px 20px 8px gray;
    border-radius: 8px;
}

.content-account {
    max-width: 620px;
    margin: 35px auto 50px;
    padding: 24px 30px 30px;
}

.header-text {
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin: 0px 0;
    line-height: initial;
    color: var(--primary);

    &::after {
        content: '';
        background: #000;
        display: block;
        width: 60px;
        height: 4px;
        margin: 20px auto;
    }
}

.password-field {
    padding: 25px 30px 30px;
}

.submit-btn {
    width: 100%;
}

.submit-btn {
    margin-top: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;

    &.disabled {
        border: none;
        color: rgba(22, 24, 35, 0.34);
        background-color: rgba(22, 24, 35, 0.06);
        pointer-events: none;
    }
}

.error-container {
    margin-bottom: 8px;
    font-weight: bold;
    // font-size: 1.4rem;
    color: red;
}

.error-message {
    margin-left: 8px;
}
