// .search,
// .search-result {
//     width: 500px;
// }

// .search-title {
//     height: 30px;
//     padding: 5px 12px;
//     font-size: 1.4rem;
//     font-weight: 600;
//     line-height: 18px;
//     color: rgba(22, 24, 35, 0.5);
// }

.wrapper {
    max-width: 680px;
    flex: 1 1 auto;
    margin: 0 auto;

    --search-btn-width: 70px;
}

.search {
    position: relative;
    border-radius: 4px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        padding: 12px 50px 12px 15px;
        width: 100%;
        background: #fff;
        border: 1px solid #ececec;
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        display: inline-block;
        border-radius: 4px;
    }
}
.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.6rem;
}

.loading {
    animation: spinner 1s linear infinite;
}

.loading {
    @keyframes spinner {
        from {
            transform: translateY(-50%) rotate(0);
        }
        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }
}

.search-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 3px;
    border: 0;
    border-radius: 4px;
    width: var(--search-btn-width);
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.8rem;

    &:hover {
        cursor: pointer;
        background-color: rgba(155, 11, 44, 0.9);
    }

    // &:active {
    //     background-color: rgba(22, 24, 35, 0.06);
    // }
}
