.hero-banner {
    max-height: 540px;
    // height: 375px;
    width: 100%;
    padding-top: 0.8rem;
}

.home-category {
    margin-top: 48px;
    padding-bottom: 70px;
}

.category-container {
    // width: 1440px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.category-list {
    display: flex;
    justify-content: center;
}

.category-item {
    padding: 0 15px;
}

.category-block {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    &:hover .category-block--image {
        transform: scale(1.1);
    }
}

.category-block--image {
    transition: all 400ms ease;
}

.category-block--content {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
}

.block-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 10px 0 5px;

    & .title-link {
        color: var(--primary);
    }
}

.view-btn {
    font-size: 1.4rem;
}

@media (min-width: 1200px) {
    .category-container {
        max-width: 1400px;
    }
}
