.wrapper {
    margin-top: 32px;
    margin-bottom: 32px;
}

.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.product-item {
    margin-bottom: 16px;
}

.loading-container {
    margin: auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-page {
    position: relative;
    text-align: center;
    margin-bottom: 20px;

    & .title {
        margin: 25px 0 5px;
        font-size: 3rem;
        color: var(--primary);
        font-weight: 700;
        line-height: 1.2;
    }

    &::after {
        content: '';
        background: #252a2b;
        display: block;
        width: 60px;
        height: 4px;
        margin: 20px auto 30px;
    }
}

.subtext-result {
    padding-left: 7px;
}

.pagination-shop {
    display: flex;
    justify-content: center;
}

.page-item {
    margin-left: 8px;
    margin-right: 8px;

    & > a {
        position: relative;
        float: left;
        line-height: 33px;
        text-decoration: none;
        color: #333e48;
        background-color: #fff;
        border: 1px solid #dee2e6;
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 0 !important;
        font-weight: bold;
        font-size: 1.3rem;
        padding: 0;
        cursor: pointer;

        &:hover {
            background-color: var(--primary);
            border-color: var(--primary);
            color: #fff;
            box-shadow: none;
        }
    }

    &.active {
        > a {
            background-color: var(--primary);
            border-color: var(--primary);
            color: #fff;
            box-shadow: none;
        }
    }
}
