.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.add-btn {
    margin-bottom: 8px;
    padding: 8px !important;
    font-size: 1.3rem !important;
    font-weight: 600 !important;
}

.search-btn {
    width: 75px;
    height: 40px;
}

.product-container {
    width: 25%;
    flex: 0 0 25%;
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 14px;
}

.product-card {
    background: #fff;
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    // margin: 10px;
}

.product-image-container {
    overflow: hidden;
    padding: 5px;
}

.product-image {
    width: 100%;
}

.product-detail {
    position: relative;
    padding: 10px 14px 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    text-align: center;
}

.product-name {
    font-size: 1.4rem;
    margin: 0 0 5px;
    font-weight: 500;
}

.product-price {
    font-weight: 700;
    padding: 0 0 10px;
}

.price-final {
    color: var(--dark-charcoal);

    &.sale {
        margin-right: 4px;
        color: var(--primary);
    }
}

.price-original {
    color: #878c8f;
    text-decoration: line-through;
    font-weight: 300;
    font-size: 1.3rem;
}

.product-action {
    margin-top: auto;
}

.action-btn {
    & .edit-btn,
    .delete-btn {
        font-size: 1.3rem;
        margin-right: 8px;
        padding: 4px 8px;
        font-weight: 600;
    }
}

//Product From

.span-price {
    right: 10px;
    // background-color: #878c8f;
    padding: 2px 8px;
}

.form-label {
    font-size: 1.4rem !important;
    font-weight: 600 !important;
    margin-top: 8px;
}

.form-input {
    font-size: 1.4rem !important;
}

.custom-checkbox {
    & > input {
        width: 20px;
        height: 20px;
    }

    & > label {
        margin-left: 6px;
        margin-top: 1px;
    }
}

.form-rooms {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.label-text {
    margin-left: 8px;
}

.form-btn {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
    padding: 2px 8px !important;

    &.modal-action-btn,
    &.add-variant-btn {
        padding: 8px !important;
        min-width: 80px;
    }
}
