.content-account {
    margin: 35px auto 50px;
    padding: 25px 30px 30px;
}

.header-text {
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin: 0px 0;
    line-height: initial;
    color: var(--primary);

    &::after {
        content: '';
        background: #000;
        display: block;
        width: 60px;
        height: 4px;
        margin: 20px auto;
    }
}
